html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  padding: 2em;
  background: white !important;
  display: flex;
  flex-direction: column;
}

.box-container {
  flex: 1;
}

.box {
  width: 100%;
  padding: 1em;
}

.language-output {
  width: 40%;
  text-align: center;
}